body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.offering-hero-container {
  width: 100%;
  height: 400px;
  background-color: #062d50;
  box-sizing: border-box;
  padding: 6rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.offering-hero-title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
}

.offering-hero-subtitle {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 768px) {
  .offering-hero-container {
    flex-direction: row;
  }
  .offering-hero-title {
    font-size: 14px;
  }

  .offering-hero-subtitle {
    font-size: 24px;
  }
}
